
apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
  labels:
    app: fastapi-app
spec:
  type: LoadBalancer
  selector:
    app: fastapi-app
  ports:
    - name: http
      port: 80
      targetPort: 8000
